@model WRT.Models.Notes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Notes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            
                <label asp-for="Text" class="control-label"></label>
                <div contenteditable="true"
                     class="editor"
                     style="height:200px; width:40vw; border:1px,solid,black;"
                     rows="14"
                     cols="10"
                     wrap="soft"
                 id="divInput">
                @Html.Raw(Model.Text.ToString());
                </div>
                <input asp-for="Text" type="hidden" id="hiddenInput" value="" />
                <div class="actions" data-for="textarea">
                    <button type="button" style="font-weight:bold;" class="btn" onclick="formatText('bold')">Bold</button>
                    <button type="button" style="text-decoration:underline;" class="btn" onclick="formatText('italic')">Italic</button>
                    <button type="button" style="color:yellow;" class="btn" onclick="highlightText('yellow')">Yellow</button>
                    <button type="button" style="color:orangered;" class="btn" onclick="highlightText('orangered')">Red</button>
                    <button type="button" style="color:lightgreen;" class="btn" onclick="highlightText('lightgreen')">Green</button>
                </div>
                <span asp-validation-for="Text" class="text-danger"></span>
  
            <div class="form-group" style="padding:5px;">
                <button type="button" class="btn btn-outline-primary" onclick="fromDivToInput()">Save text</button>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
