@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:cornflowerblue" class="display-1"><b font-size: 30px;>WRT</b></h1>
    <h4 class="display-4"><b style="color:cornflowerblue">W</b>rite notes. <b style="color:cornflowerblue">R</b>ead notes .<b style="color:cornflowerblue">T</b>est you knowledge.</h4>
    <p class="display-6" style="color:cornflowerblue">Study better with WRT!</p>

    <a href="https://localhost:7090/Notes"><button class=" btn btn-outline-primary" style="margin:5px; color: cornflowerblue; width:150px;" action="">Create Notes</button></a>
    <button class=" btn btn-outline-primary" style="margin:5px; color: cornflowerblue; width:150px;">Read Notes</button>
    <button class=" btn btn-outline-primary" style="margin:5px; color: cornflowerblue; width:150px;">Tests</button>

</div>
